<div class="componentContainer">
  <div class="componentDescription">
    <i class="material-icons">
      chat_bubble
    </i>
    <span class="componentName">Messages</span>
  </div>

  <div class="content">
    <section class="userList">
      Users will be here
    </section>

    <section class="chatWrapper">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons">
              remove_red_eye
            </i>
            <span>REPLIES</span>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons"> assessment </i>
            <span>REPORTS</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <div class="chatBox" #chatBox>
        <p *ngFor="let chat of chatHistory" class="line">
          <span> {{ chat.message }}</span>
        </p>
      </div>

      <form
        class="userInput"
        (ngSubmit)="onUserMessageSubmit(chatForm)"
        [formGroup]="chatForm"
      >
        <i class="material-icons options" (click)="togleOption(optionsElement)">
          add_circle
        </i>

        <div class="add_options" #optionsElement>
          <div class="arrow"></div>
          <span *ngFor="let option of chatOption">
            <i class="material-icons">
              {{ option.icon }}
            </i>
            {{ option.name }}
          </span>
        </div>

        <mat-form-field
          class="example-full-width"
          color="pink"
          appearance="none"
        >
          <input matInput value="Sushi" formControlName="message" />
        </mat-form-field>

        <button type="submit" mat-button>
          <i class="material-icons">
            near_me
          </i>
          Send
        </button>
      </form>
    </section>
  </div>
</div>
