$background-color: rgb(233, 123, 141);
$default-shadow: 1px 1px 10px #c4c4c4;
$default-border: 1px solid gray;

i {
  color: $background-color;
  // text-shadow: 1px 1px 5px #c4c4c4;
}
.componentName {
  font-size: 1.5em;
  margin-left: 2%;
  font-weight: 500;
}

.componentDescription {
  margin: 0.5% auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  i {
    color: $background-color;
    font-size: 2em;
    text-shadow: $default-shadow;
  }
}

.content {
  .userList,
  .userList {
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(197, 197, 197);
  }

  .chatWrapper {
    width: 70%;
    height: 100%;
    padding: 1%;
    position: relative;
    overflow: hidden;
    mat-tab-group {
      i {
        margin-right: 10%;
      }
    }
  }
}

mat-tab {
  position: relative;
}
.userInput {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  padding: 1% 0.1%;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid #cecece;
}

form > mat-form-field {
  width: 76%;
}

form {
  i {
    margin-right: 1%;
    // padding-bottom: 0.34375em;
    cursor: pointer;
  }

  button[type="submit"] {
    background: #e97b8d;
    color: white;

    i {
      color: white;
    }
  }
}

::ng-deep .mat-input-underline {
  display: none;
}

.add_options {
  min-width: fit-content;
  width: 60%;
  color: rgb(143, 143, 143);
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  padding: 0.5% 2%;
  transition: all 0.5s ease-in;
  position: absolute;
  opacity: 0;
  z-index: -1;

  .arrow {
    display: inline-block;
    padding: 2%;
    background: red;
    position: absolute;
    left: 0px;
    background: white;
    border-right: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    bottom: 0px;
    transform: translate(10px, 9px) rotate(45deg);
  }

  span {
    position: relative;
    // height: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
    width: 23%;
    padding: 0.1% 0.7%;
    border-radius: 5px;
    margin: 0.5%;
    transition: all 0.5s ease-in-out;
    margin: 0.5%;
    cursor: pointer;
  }

  .option:hover {
    background: pink;
    color: #ff607e;
    i {
      color: #ff607e;
    }
  }
}

.hide {
  transform: translate(0);
  opacity: 0;
  z-index: 0;
}

.show {
  transform: translate(0%, -144%);
  z-index: 1;
  opacity: 1;
}

.options {
  font-size: 2em;
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
}
.options:hover {
  transform: rotate(45deg);
}

::ng-deep {
  .mat-form-field {
    color: gray;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #ff884d;
  }
  .mat-form-field-ripple {
    background-color: $background-color;
  }
  .mat-form-field-required-marker {
    color: $background-color;
    display: none;
  }
  .mat-input-element {
    color: #929292;
  }
}

.chatBox {
  overflow-y: auto;
  height: 75%;
}

.line {
  margin: 2% 1%;

  span {
    display: inline-block;
    padding: 2% 4%;
    border-radius: 14px;
    max-width: 100%;
    word-break: break-all;
    background: #ffeff2;
    color: #ff607e;
    font-size: 0.8em;
  }
}

.userList {
  padding: 1% 0%;

  h5 {
    color: gray;
    border-bottom: 1px solid gray;
    font-weight: 600;
    span {
      float: right;
    }
  }
}

.user {
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 7% 1%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  img {
    width: 24%;
    border-radius: 50%;
    margin: 1% 4%;
  }

  .details {
    display: inline-block;
  }
}

.user:hover {
  background: #ffeff2;
}
