<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" alt="Messenger" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="width: 100%">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab (click)="navigateTo(tab.url)" *ngFor="let tab of tabs">
          <ng-template mat-tab-label>
            <i class="material-icons">
              {{ tab.icon }}
            </i>
            <span>{{ tab.name }}</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>

      <div class="rightSide navbar-text">
        <i class="material-icons helpIcon">
          help_outline
        </i>

        <i class="material-icons">
          notifications_none
        </i>

        <span class="user_profile">
          <img src="/assets/images/batman.png" alt="User" />
        </span>
      </div>
    </ul>
  </div>
</nav>
