@import "../../globalVariables/styles.scss";
$text-color: $active_icon-color;

nav {
  background: white;
  padding: 0px 13px;
}

mat-tab-group {
  margin: auto;

  i {
    margin: 1% 9%;
  }
}

.rightSide {
  width: 300px;

  i {
    cursor: pointer;
  }

  i,
  span {
    margin: 1% 3%;
  }
  .user_profile {
    width: 146px;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;

    img {
      width: 25%;
      border-radius: 50%;
    }
  }
}

::ng-deep .mat-tab-label-active {
  font-weight: 600;

  i {
    color: $active_icon-color;
    // background: red;
  }
}
