<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" alt="Messenger" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="width: 100%">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab (click)="navigateTo('groups')">
          <ng-template mat-tab-label>
            <i class="material-icons">
              group
            </i>
            <span>Groups</span>
          </ng-template>
        </mat-tab>
        <mat-tab (click)="navigateTo('messages')">
          <ng-template mat-tab-label>
            <i class="material-icons">
              message
            </i>
            <span>Messages</span>
          </ng-template>
        </mat-tab>
        <mat-tab (click)="navigateTo('videoCalls')">
          <ng-template mat-tab-label>
            <i class="material-icons">
              videocam
            </i>
            <span>Video Calls</span>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ul>
  </div>
</nav>
