@import "../../globalVariables/styles.scss";

$boder-radius: 5px;
$text-color: rgb(233, 123, 141);
$activeTab: (
  background: $background-color,
  color: white
);
$default-shadow: 1px 1px 8px 2px #e0e0e0;
$default-transition: all 0.5s ease-out;

.sidebasdasaasdasdrWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-content: center;
}

.userDetails {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-content: center;
  text-align: center;
  img {
    width: 30%;
    border-radius: 50%;
    margin: auto;
    display: block;
  }

  .quotes {
    color: gray;
  }
}

.routings {
  .parentUrl {
    background: white;
    text-align: center;
    display: flex;
    width: 70%;
    font-weight: 600;
    padding: 2% 5%;
    box-shadow: $default-shadow;
    margin: 5% auto;
    color: black;
    transition: $default-transition;

    text-decoration: none;
    border-radius: $boder-radius;

    i {
      margin: 1% 5%;
      color: #c7c7c7;
    }
  }
  .childRouting {
    width: 50%;
    padding: 1% 5%;
    margin: 1% auto;
    cursor: pointer;
  }

  .childRouting:hover {
    color: $text-color;
    transition: $default-transition;
  }

  .activeTab,
  .activeTab > i {
    background: map-get($activeTab, background);
    color: map-get($activeTab, color);
  }
}
